
.vs/Authentication/FileContentIndex/702cb0b5-3b92-42d9-a0d4-60da2472a128.vsidx
.vs/Authentication/FileContentIndex/c82920c6-c79e-4ed8-a630-3b6e8d08c291.vsidx
.vs/Authentication/FileContentIndex/f65f48be-bcef-4daa-8953-38509169b4b9.vsidx
*.vsidx
.vs/Authentication/v17/.suo
.vs/Authentication/v17/.suo
*.dll
.vs/Authentication/v17/.suo
